.background_projetos {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  z-index: -50;
  font-size: 5vw;
  font-family: "Archivo Black", sans-serif;
  color: rgba(237, 237, 237, 0.4);
  letter-spacing: 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 5rem; /* altura constante das linhas */
  gap: 1rem;
  row-gap: 3rem;

  overflow: hidden;
}

.background_projetos p,
.background_projetos {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  white-space: nowrap; 
}

.background_projetos .brilhante {
  color: rgba(237, 237, 237, 1);
}

/* mobile */
@media screen and (max-width: 768px) {
  .background_projetos {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    grid-auto-rows: 3rem; /* altura menor para telas pequenas */
    row-gap: 1rem;
    min-height: 155vh;
  }
}
