.galeria {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: lightgray;
}

/* desktop */
.desktop {
  grid-column: span 3;
  aspect-ratio: 19 / 9;
  height: 635px;
}

/* mobile */
.mobile {
  grid-column: span 1;
  aspect-ratio: 9 / 16;
  height: 635px;
}

.galeria-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* MOBILE RESPONSIVO */
@media (max-width: 768px) {
  .galeria {
    width: 95%;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .desktop {
    grid-column: 1 / -1;
    margin: 0;
    aspect-ratio: 19 / 9;
    height: auto;
  }

  .mobile {
    grid-column: span 1;
    aspect-ratio: 9 / 16;
        height: auto;

  }
}