.image-container {
  position: relative;
}

.mask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  background-color: rgba(200, 200, 200, 0.6);
  mix-blend-mode: saturation;
  opacity: 1;
  pointer-events: none;
}


@media screen and (max-width: 768px) {
/* .mask {
  width: 80%;
} */

}
