.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container > div {
  width: 100%;
  height: 100%;
}

.mask {
  position: absolute;
  inset: 0; 
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(200, 200, 200, 0.6);
  mix-blend-mode: saturation;
  opacity: 1;
  pointer-events: none;
}
