@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 3 colunas iguais */
  grid-template-rows: auto;
  /* 3 linhas iguais */
  gap: 10px;
  width: 30%;
  /* O grid ocupa 60% da largura da tela */
  margin: 0 0rem 0 20rem;
  height: 30%;
  left: 20%;
  position: relative;
  /* Para controlar o z-index dos filhos */
}

.background {
  position: absolute;
  top: -2rem;
  left: 1rem;
  width: 24vw;
  height: 44vh;
  margin: 1rem 0 0 1rem;
  background-color: rgba(202, 202, 202, 0.236);
  border: rgba(194, 211, 44, 0.236) 0.2rem solid;
  z-index: -1;
  /* Fica atrás dos textos e da foto */
  rotate: -30deg;
  /*assim ele vai rodar e ir pra pos certa na animação */
}

.backMargem {
  position: absolute;
  top: -3rem;
  left: 1rem;
  width: 23vw;
  height: 23vw;
  margin: 1rem 0 0 1rem;

  border: rgba(194, 211, 44, 0.236) 0.2rem solid;
  rotate: 75deg;
  z-index: -1;
}

.texto2 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  /* background-color: lightgray; */
  padding-left: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(80, 80, 80);

  text-align: center;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.icone {
  grid-column: 1/4;
  /* Cada ícone ocupa uma coluna na terceira linha */
  grid-row: 3;
  /* Todos os ícones na terceira linha */
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-top: 10rem;
  padding-left: 10rem;
  margin-left: 2rem;
  gap: 1.5rem;
  width: 15rem;
}

.icone .iconeRedondo {
  width: 5rem;
  height: 5rem;
}

.icone .iconeComprido {
  height: 5rem;
}

.icone .iconeRedondo:hover,
.iconeComprido:hover {
  filter: hue-rotate(240deg) saturate(200%) brightness(150%);
  width: auto;
  height: 4.5rem;
}


@media screen and (max-width: 768px) {
  .container {
    margin: 0 0 0 0rem;
    width: 60%;
    height: 70%;
    top: 10rem;
    left: 13%;
  }

  .backMargem {
        position: absolute;
        top: 2rem;
        left: -2.2rem;
        width: 119%;
        height: 80%;
        margin: 1rem 0 0 1rem;
        border: rgba(194, 211, 44, 0.089) 0.2rem solid;
        rotate: 122deg;
    }

  .foto-perfil {
    width: 7rem;
    height: auto;
  }

    .background {
        height: 80%;
        width: 110%;
        top: 2.5rem;
        left: -1.6rem;
        padding: 1rem;
    }


  .texto1 {
    position: absolute;
    right: 0.3%;
    /*0.4*/
    left: -2.5rem;
    top: -2rem;
  }

  .texto1 hr {
    width: 80%;
  }

  .texto1 h1 {
    font-size: 1.2rem;
  }

  .texto1 h2 {
    padding: 0;
    font-size: 0.5rem;
    letter-spacing: 0rem;
    margin: 0.5rem 0 0 0;
  }

  .texto2 {
    position: relative;
    top: 4rem;

    margin-top: 0;
    font-size: 0.8rem;
    padding-left: 0rem;
  }


  .icone {
    padding-left: 0rem;
    padding-right: 4rem;
    width: 100%;

  }

  .icone .iconeRedondo {
    width: 3rem;
    height: 4rem;
    padding-top: 1rem;
  }

  .icone .iconeComprido {
    height: 3.5rem;
    padding-top: 1rem;
  }

  .icone .iconeRedondo:hover {
    width: 2.5rem;
    height: 3.5rem;
  }

  .icone .iconeComprido:hover {
    height: 3rem;
    width: auto;
  }
}