.profile-pai {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  padding-left: 2rem; 
  overflow: hidden;
}

.profile-pai .sobreMim h1{
  position: absolute;
  writing-mode: vertical-rl;   
  transform: translateX(170%) translateY(7%) rotate(180deg);
  left: 0rem; 
  top: .5rem; 
  margin: 0; 
  font-size: 5vw;
  font-family: "Archivo Black", sans-serif;
  color: rgb(28, 72, 142);
}

.ProfileDiv {
  position: relative; 
  margin-top: 8rem; 
  padding: 2rem; 
}

.background_sobre {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  font-size: 6vw;
  font-family: "Archivo Black", sans-serif;
  color: rgba(237, 237, 237, 0.4);
  letter-spacing: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; 
  justify-content: center;
}

.background_sobre p {
  margin: 0;
  padding: 0;
  line-height: 1; 
}

.background_sobre .brilhante {
  color: rgba(237, 237, 237, 1);
}

@media screen and (max-width: 768px) {
.profile-pai{
  height: 80vh;
}
  .profile-pai .sobreMim h1{
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    width: 100%;
    font-size: 4.5rem;
    text-wrap: nowrap;
    right: 0rem;
    left: 0.11rem;
    top: 0.9rem; 
    transform: translateX(-3%) translateY(12%) rotate(180deg); 
  }

  .ProfileDiv {
    margin-top: 0; 
    bottom: 5rem;
    padding: 1rem; 
  }

  .background_sobre{
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
  }

}
