a{
  text-decoration: none;
}

.projetos-pai{
  /* top: auto; */
  position: relative;
  width: 100vw;
  height: 100vh; 
  margin-top: 3rem;

}


.projetos-pai h1 {
  position: absolute;
  writing-mode: vertical-rl; 
  transform: translateX(170%) translateY(7%) rotate(180deg); 
  left: 0; 
  top: 25%; 
  margin: 0; 
  font-size: 5vw;
  font-family: "Archivo Black", sans-serif;
  color: rgb(28, 72, 142);
}

.projetos-pai ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
  position: absolute;
  left: 15vw;
  list-style: none;
}



@media screen and (max-width: 768px) {
  .projetos-pai {
    height: auto;
    margin-top: 5rem;
    width: 100%;
  }

  .projetos-pai ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* ocupa 100% */
    gap: 1.2rem;
    padding: 0 1.5rem; /* margem lateral */
    margin-top: 2rem;
    position: relative; /* importante */
    width: 100%;
    left: unset;
    top: unset;
  }

  .projetos-pai h1 {
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    line-height: 2rem; 
    font-size: 4.8rem;
    right: 0; 
    top: 4rem; 
    transform: translateX(3%) translateY(5%) rotate(180deg); 
    z-index: -1;
  }

  .projetos-pai li{
    width: 1rem;
    margin:0;
    left: 0;
    right: 0;

  }

  .image-container{
    width: 10rem;
  }

  .background_projetos {
    height: auto; 
  }


}