.conteiner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 41vw;
  height: 25vh;

  overflow: hidden;
  border-radius: 2rem;

  font-family: "Archivo Black", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;

  /* ✅ necessário pra o absolute do h2 funcionar */
  position: relative;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.conteiner-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1e2;
  transform: scale(1.04);
  transition: all 1.3s ease;
}

.cardImagem {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  border-radius: 1rem;
}

.cardImagem .projImg {
  min-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 15rem;
  border-radius: 1rem;
  object-fit: cover;
}

.cardImagem .projLogo {
  position: absolute;
  width: 7.8rem;
  height: 7.8rem;
  top: 1rem;
  right: 80%;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* ✅ TEXTO SOBRE A IMAGEM */
.titulo-overlay {
  position: absolute;
  left: 1.3rem;
  bottom: 1.2rem;

  font-size: 1.7rem;
  font-weight: bolder;
  color: white;

  margin: 0;

  padding: 0.45rem 0.9rem;
  border-radius: 0.8rem;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}



.botao-card button {
  text-align: center;
  justify-self: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #ffffff;
  background-color: rgb(28, 72, 142);
  border: none;
  width: 100vw;
  font-weight: bolder;
  line-height: 4rem;
  padding-bottom: 2rem;
  cursor: pointer;
}

.botao-card button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(53, 130, 255);
  transition: all 1.3s ease;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .conteiner-card {
    width: 90vw;
    height: 10rem;
    padding-bottom: 0.1rem;
    margin-left: 0rem;
    border-radius: 0.3rem;
  }

  .cardImagem {
    height: 100%;
    border-radius: 1.5rem;
  }

  .cardImagem img {
    width: 100%;
    height: 100%;
    max-height: none;
    border-radius: 0.3rem;
  }


  .cardImagem .projLogo {
    width: 4.5rem;
    height: 4.5rem;
    top: 1rem;
    right: 15rem;
  }

  .titulo-overlay {
    font-size: 1.1rem;
    left: 0.7rem;
    bottom: 0.7rem;
    padding: 0.35rem 0.7rem;
    border-radius: 0.6rem;
  }

  .botao-card button {
    display: none;
  }
}