.carrosel-pai{
  cursor: grab;
  overflow: hidden;
  /* background-color: blueviolet; */
  width: 100%;
}

.carrosel-filho{
  display: flex;
  flex-direction: row;
  /* background-color: azure; */
  width: 360vw;
}

.carrosel-imagem{
  display: flex;
}

.carrosel-imagem img{
  pointer-events: none; 
  width: 90vw;
  height: 100%;
  border-radius: 15%;
  margin:0 1%;
}

.sliderPai {
  position: relative;
}

.seta-esquerda, .seta-direita {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: none;
  cursor: pointer;
  z-index: 10;
  pointer-events: none;
}

.seta-esquerda i, .seta-direita i{
  color: rgba(0, 0, 0, 0.217);
}

.seta-esquerda {
  left: 1%;
}

.seta-direita {
  left: 92%;
}

@media (max-width: 768px) {
.carrosel-filho{
  width: 820vw;
}
.seta-direita {
  left: 85%;
}

.seta-esquerda, .seta-direita {
  top: 30%;
}


}