@import 'bootstrap-icons/font/bootstrap-icons.css';


*{
  border:0;
  padding: 0;
}

html, body {
  height: auto;
  overflow: auto;
}



a{
  text-decoration: none;
}

:root {
 --cinza-escuro: #525252;
 --cinza-claro: #c5c5c5;
}

.fundo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Garantir que cubra a altura da tela */
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}


.fade-wrapper {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-wrapper.visible {
  opacity: 1;
}

.fade-wrapper.hidden {
  opacity: 0;
}

/* container base */
.containerPai {
  min-height: 100vh;
  height: 100dvh; 
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


/* div base */
.divPai {
  position: relative;
  z-index: 0;
  overflow: hidden; 
  scroll-snap-align: start; 
  /* cria um ponto de snap pra ele parar aqui */
}

/* Degradê */
.divPai::before,
.divPai::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 0;
  pointer-events: none; 
}


.divPai::before {
  top: 0;
  background: linear-gradient(to bottom, white, transparent);
}

.divPai::after {
  bottom: 0;
  background: linear-gradient(to top, white, transparent);
}

/* fim degrade */



@media (max-width: 768px) {
  .containerPai {
    scroll-snap-type: y mandatory;
  }

  .divPai::before,
  .divPai::after {
    height: 20%; 
  }

  .divPai {
    /* scroll-snap-align: unset; */
    height: 100dvh;
    max-height: 100%;
    max-width: 100%;

    overflow: hidden;
  }

  /* .scroll-container {
    scroll-snap-type: none;
  } */


}